$font-size-base: 1rem;
$primary: #fed136;
$header-jumbotron-height: 250px;
$section-padding: 90px;
$section-color-alternate: #f5f5f5;
$round-image-border: 3px;
$page-menu-size: 175px;
$otherblack: #343A40;
$otherblack1: #949d9A;
$aboutme-binding:#f0d030;

@import "../libs/bootstrap/scss/bootstrap";
@import "index/_header";
@import "index/_overview";
@import "index/_projects";
@import "index/_team";
@import "index/_contact";
@import "index/_footer";
@import "bewerbung2.0/_aboutme";
@import "bewerbung2.0/_attachment";
@import "bewerbung2.0/_cover";
@import "bewerbung2.0/_thirdpage";
@import "../shared/_impressum";


/** Page Menu */

body {
  overflow-x: hidden;
}

.shadowText{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#page {
  position: relative;
  left: 0px;
  transition: 1s all;
  transform: translate(0px, 0px);

  &.mobile-nav-opened {
    transform: translate(-$page-menu-size, 0px);
  }

  .mobile-nav {
    position: fixed;
    right: -$page-menu-size;
    top: 0px;
    bottom: 0px;
    width: $page-menu-size;
    background-color: $section-color-alternate;
  }

  .mobile-nav-link {
    color: black;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    background-color: $section-color-alternate;

    &:last-child {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; 
    }

    &:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px; 
    }
  } 
}