.aboutme {  
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: $section-color-alternate;
  
    .aboutme-image {
      border-radius: 50%;
      border: $round-image-border solid $otherblack1;
    }
  
    @include media-breakpoint-up(md) {
      .aboutme-list {
        background: linear-gradient(
          to right, 
          $section-color-alternate 0%, 
          $section-color-alternate calc(50% - 1px), 
          $otherblack1 calc(50% - 1px),
          $otherblack1 calc(50% + 1px), 
          $section-color-alternate calc(50% + 1px), 
          $section-color-alternate 100%
        );
        .row:last-child{
          background-color:$section-color-alternate;
        }
        
      }
    }
    
}