.img-cover-bewerb{
    height:500px;
    background-image: url("../images/header3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    color:$otherblack;
}