.thirdpage{
    padding-top: $section-padding;
    padding-bottom: $section-padding;
    background-color: white;
    
    .p70{
        width:70%; background:#b38b01;
    }
    .p75{
        width:75%; background:#e8b608;
    }
    .p80{
        width:80%; 
        background:#ffda5b;
    }
    .p85{
        width:85%; background:#fed000;
    }
    .p100{
        width:100%; background:#fed136;
    }
}