/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Base files. */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

a {
  color: #1eaedb;
}

a:hover {
  color: #1b9cc5;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

.u-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/* Modules */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66667%;
  }
  .two.columns {
    width: 13.33333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.66667%;
  }
  .five.columns {
    width: 39.33333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.66667%;
  }
  .eight.columns {
    width: 65.33333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.66667%;
  }
  .eleven.columns {
    width: 91.33333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.66667%;
  }
  .two-thirds.column {
    width: 65.33333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%;
  }
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}

.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

body {
  font-family: 'Roboto', sans-serif;
}

.index {
  background-color: #dddddd;
  position: relative;
}

@media (min-width: 750px) {
  .index {
    max-width: 550px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border: 1px #b9b9b9 solid;
  }
}

@media (min-width: 1000px) {
  .index {
    max-width: 625px;
  }
}

@media (min-width: 1200px) {
  .index {
    max-width: 650px;
  }
}

#deckblatt {
  padding-bottom: 10px;
  padding-top: 30px;
}

.cover {
  text-align: center;
}

@media (min-width: 550px) {
  .cover {
    padding-bottom: 25px;
  }
}

.photo-image {
  width: 45%;
  border: 1px white solid;
}

@media (min-width: 550px) {
  .photo-image {
    display: none;
  }
}

.photo {
  display: none;
}

@media (min-width: 550px) {
  .photo {
    display: inline-block;
    width: 45%;
  }
}

@media (min-width: 750px) {
  .photo {
    width: 255px;
    height: 500px;
  }
}

.parameter {
  color: green;
}

.variable {
  color: violet;
}

.public {
  color: blue;
}

.content {
  margin-left: 20px;
}

#anschreiben {
  padding-top: 30px;
  font-size: 90%;
  display: block;
}

@media (min-width: 750px) {
  #anschreiben {
    padding-top: 30px;
    display: none;
  }
}

.subject {
  margin-top: 5px;
}

.bewerberAn {
  list-style: none;
}

li {
  margin-top: 0px;
  margin-bottom: -2px;
  list-style: none;
  list-style-type: none;
}

.date {
  float: right;
}

.sign {
  float: left;
}

#lebenslauf {
  background-color: #dddddd;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

@media (min-width: 750px) {
  #lebenslauf {
    display: none;
    padding-top: 0px;
  }
}

.lebensl {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

@media (min-width: 750px) {
  .lebensl {
    padding-top: 30px;
  }
}

.pic {
  width: 100%;
}

#dritte {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 750px) {
  #dritte {
    display: none;
    padding-bottom: 0px;
  }
}

.dritte-header {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.img-skills {
  display: none;
}

@media (min-width: 750px) {
  .img-skills {
    display: block;
  }
}

.skills {
  width: 90%;
}

.motivation {
  font-size: 90%;
}

.quote {
  margin-top: calc(30px - 15px);
  padding: 15px;
  border: 1px solid #f0f0f0;
  background-color: white;
}

.endofpage {
  margin: 0px;
  border-color: black;
}

@media (min-width: 750px) {
  .endofpage {
    display: none;
  }
}

.prevbutton {
  display: none;
  position: absolute;
}

@media (min-width: 750px) {
  .prevbutton {
    display: block;
    top: 355px;
    left: -100px;
    pointer-events: none;
  }
}

.button-circle {
  text-align: center;
  height: 90px;
  width: 90px;
  background-color: #dddddd;
  border: 1px solid #666666;
  border-radius: 100%;
}

.prevarrow {
  margin: auto;
  height: 0px;
  width: 0px;
  border: 22px solid transparent;
  border-bottom: 22px solid grey;
}

.asd {
  position: relative;
  top: 22px;
  left: -10px;
  height: 30px;
  width: 20px;
  background-color: grey;
}

.asdcover {
  position: relative;
  top: -13px;
  left: -7px;
  height: 32px;
  width: 14px;
  background-color: white;
}

.prevbuttcover {
  position: relative;
  top: -73px;
  left: -16px;
  height: 0px;
  width: 0px;
  border: 16px solid transparent;
  border-bottom: 15px solid white;
}

.nextbutton {
  display: none;
  position: absolute;
}

@media (min-width: 750px) {
  .nextbutton {
    display: block;
    top: 355px;
    right: -100px;
  }
}

.nextarrow {
  position: relative;
  left: -12px;
  top: 30px;
  height: 0px;
  width: 0px;
  content: "";
  border: 22px solid transparent;
  border-top: 22px solid green;
}

.asdn {
  margin: auto;
  margin-top: 22px;
  height: 30px;
  width: 20px;
  background-color: green;
}

.asdcovern {
  position: relative;
  top: -41px;
  left: 3px;
  height: 32px;
  width: 14px;
  background-color: white;
}

.nextbuttcover {
  position: relative;
  top: -43px;
  left: -6px;
  height: 0px;
  width: 0px;
  content: "";
  border: 16px solid transparent;
  border-top: 15px solid white;
}

#anhang {
  padding-top: 30px;
  display: none;
}

.anhang-header {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.anhang {
  width: 100%;
  height: 100%;
  display: block;
}

@media (min-width: 750px) {
  .anhang {
    display: none;
  }
}

.gallery-item {
  float: left;
  display: block;
  text-decoration: none;
  padding: 1px;
  max-height: 137px;
  border: 1px solid #c8c8c8;
  margin-bottom: 15px;
  width: 100%;
}

@media (min-width: 1000px) {
  .gallery-item {
    max-height: 156px;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    max-height: 161px;
  }
}

.gallery-item:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-item img {
  max-width: 100%;
}

#lightbox {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.98;
}

#lightbox__overlay-container {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#lightbox__overlay-image {
  max-width: 90%;
  max-height: 802px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.caption {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close {
  color: white;
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.lb__prev:hover,
.lb__next:hover {
  background-color: rgba(0, 205, 15, 0.8);
}

/* Next & previous buttons */
.lb__prev,
.lb__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.lb__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/*# sourceMappingURL=style.css.map */