#anhang{
    padding-top:$padding;
    display:none;
}

.anhang-header{
    text-align:center;
    text-decoration: underline;
    font-weight:bold;
}
.anhang{     
    width: 100%;
    height: 100%;
    display:block;
    @media($bp-larger-than-tablet){
        display:none;

    }
}


.gallery-item {
    float: left;
    display: block;
    text-decoration: none;
    padding: 1px;
    max-height:137px;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 15px;
    width: 100%;
    @media($bp-larger-than-desktop){
        max-height:156px;
    }
    @media($bp-larger-than-desktophd){
        max-height: 161px;
    }
}
.gallery-item:hover {
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery-item img {
    max-width: 100%;                
}