#anschreiben{
    padding-top:$padding;
    font-size:90%; 
    display:block; 
    @media($bp-larger-than-tablet){
        padding-top:$padding;
        display:none;
        
    }
}
.subject{
    margin-top:5px;
}
.bewerberAn{
    list-style: none;
}
li{
    margin-top:0px;
    margin-bottom:-2px;
    list-style: none;
    list-style-type: none;     
}
.date{
    float:right;
}  

.sign{
    float:left;
}
