#deckblatt{
    padding-bottom:$padding400;
    padding-top:$padding;
}

.cover{
    text-align: center;
    @media ($bp-larger-than-phablet){
        padding-bottom:$padding - 5px;
    }    
}
.photo-image{
    width:45%;
    border:1px white solid;
    @media ($bp-larger-than-phablet){
        display:none;
    }
}

.photo{
    display:none;
    @media ($bp-larger-than-phablet){
        display:inline-block;
        width:45%;
    }
    @media ($bp-larger-than-tablet){        
        width:255px;
        height:500px;
    }
}

.parameter{
    color:green;
}
.variable{
    color:violet;
}
.public{
    color:blue;
}
.content{
    margin-left:20px;
}

