#dritte{ 
    padding-top:$padding;
    padding-bottom:$padding;
    @media ($bp-larger-than-tablet){         
        display:none; 
        padding-bottom:0px;         
    }
}
.dritte-header{
    text-align:center;
    text-decoration: underline;
    font-weight:bold;
}
.img-skills{
    display:none;
    @media($bp-larger-than-tablet){
        display:block;
        
    }
}
.skills{
    width:90%;
}
.motivation{
    font-size: 90%;
}
.quote{
    margin-top:calc(#{$padding} - 15px);
    padding:15px;
    border: 1px solid #f0f0f0;
    background-color:white;

}