body{
    font-family: 'Roboto', sans-serif;
}
.index{
    background-color:$papercolor;    
    position:relative; 
  
    @media ($bp-larger-than-tablet){
        max-width:$width750;
        height:$paperheight;
        margin-left:auto;
        margin-right:auto;        
        margin-top:$margintopbot750;
        border:1px $bordercolor solid;        
    }
    @media ($bp-larger-than-desktop){
        max-width:$width1000;
    }
    @media ($bp-larger-than-desktophd){
        max-width: $width1200;
    }
}

