#lebenslauf{
    background-color:$papercolor;    
    padding-top:$padding;
    padding-bottom:$padding;  
    position:relative;   
  
    @media ($bp-larger-than-tablet){      
        display:none;
        padding-top:0px;      
    }

}

.lebensl{
    text-align:center;
    text-decoration: underline;
    font-weight:bold;
    @media ($bp-larger-than-tablet){
        padding-top: 30px;
    }
}
.pic{
    width:100%;
}