#lightbox{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: black;
    opacity: 0.98;
    
}

#lightbox__overlay-container {
    //position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#lightbox__overlay-image {
    max-width: 90%;
    max-height: 802px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}  
.caption{
    color:white;
    text-align: center;
    margin-top:10px; 
    margin-bottom: 10px;
}
.close{
    color:white;
    position: absolute;
    right: 15px;
    top: 0px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.lb__prev:hover,
  .lb__next:hover {
    background-color: rgba(0, 205, 15, 0.8);
  }
  
  /* Next & previous buttons */
  .lb__prev,
  .lb__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .lb__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }