.nextbutton{
    display:none;
    position:absolute;
    @media ($bp-larger-than-tablet){
        display:block;
        top:$paperheight / 2 - 45px ;
        right:-100px;
    }
}

.nextarrow{   
    position:relative;
    left:-12px;
    top:30px;
    height:0px;
    width:0px;
    content:"";
 
    border:22px solid transparent;
    border-top:22px solid green;    
}

.asdn{
    margin:auto;    
    margin-top:22px;   
    
    height:30px;
    width:20px;
    background-color: green;
   
}
.asdcovern{
    position:relative;
    top:-41px;
    left:3px;
        
    height:32px;
    width:14px;
    background-color: white;
}
.nextbuttcover{
    position:relative;
    top:-43px;
    left:-6px;
    
    height:0px;
    width:0px;
    content:"";
    border:16px solid transparent;
    border-top:15px solid white;
   
}