.prevbutton{
    display:none;
    position:absolute;
    @media ($bp-larger-than-tablet){
        display:block;
        top:$paperheight / 2 - 45px ;
        left:-100px;
        pointer-events: none;
    }   
}
.button-circle{    
    text-align: center;
    height:90px;
    width:90px;
    background-color:$papercolor;
    border:1px solid #666666;
    border-radius:100%;
    
}
.prevarrow{   
    margin:auto;   
    height:0px;
    width:0px;
    //content:""; 
    border:22px solid transparent;
    border-bottom:22px solid grey;    
}

.asd{
    position:relative;
    top:22px;
    left:-10px;       
    height:30px;
    width:20px;
    background-color: grey;
   
}
.asdcover{
    position:relative;
    top:-13px;
    left:-7px;         
    height:32px;
    width:14px;
    background-color: white;
}
.prevbuttcover{
    position:relative;
    top:-73px;
    left:-16px;
    height:0px;
    width:0px;
    //content:"";
    border:16px solid transparent;
    border-bottom:15px solid white;
   
}